<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>

    <style>
        #image-show {
  display: block;
  width: 100%;
  height: auto;
}

.img__description {
  position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
<!--  background: rgb(0,128,0);-->
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/show_home_page">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/show_home_page">Home <span class="sr-only">(current)</span></a>
      </li>
    {% if user.is_authenticated %}
        <li style="color:white; padding-top: 8px; padding-left: 10px;padding-right: 10px;"> Hello, {{user.username}}</li>
        <li class="nav-item">
            <a class="nav-link" href="logout">Logout </a>
        </li>

    {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="register">Register</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="login">Login</a>
        </li>

    {% endif %}


    </ul>
        <a class="nav-link" id = "hire-me" href="#" style="font-size: 15px;font-family: cursive;color: darkgoldenrod;" onclick="showModalWithImage('{{i.image}}', '{{i.title}}')">profile</a>


<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->


  </div>
  <div class="modal" id="hire-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog model-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hireModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="#!" id = "hire-show" class="img-fluid" alt = "">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</nav>

<script>
      function showHireMeModal(imageUrl, image_title){
      debugger;
        $('#image-modal').modal('show');
        document.getElementById('exampleModalLabel').innerHTML = image_title;
        $('#image-show').attr('src', `/media/${imageUrl}`);
      }
</script>
</body>
</html>
